@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --main-darklg: #1d2635;
  --main-dark: #161d29;
  --primary-color: #2f80ec;
  --main-light: #eeeeee;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.videos__group {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--main-dark);
}

video {
  height: 100px;
  border-radius: 1rem;
  margin: 0.5rem;
  width: 200px;
  object-fit: cover;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  display: none;
}

.background__red {
  background-color: #f6484a;
}

#video-grid {
  display: flex;
}

.spare-pieces-7492f {
  display: flex;
}

#participants-list {
  display: flex;
  flex-direction: column;
}

#participants-list > span {
  display: flex;
  justify-content: start;
  padding: 1rem .5rem;
}

.message {
  padding: .25rem .2rem;
}

.self {
  text-align: right;
}